@tailwind base;

@tailwind components;

@tailwind utilities;

/* 🔹 Scrollbars personalizadas para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  height: 8px; /* Altura para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Color del fondo del scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1f2937, #1f2937); /* Degradado verde */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1f2937, #1f2937); /* Efecto hover */
}

/* 🔹 Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1f2937 #1e1e1e;
}
